<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add theme</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
<form class="adding_form" method="post" enctype="multipart/form-data" action="">
    <p><a href="/" class="regular_button">To Home page</a><br><br><br><br><br><br><br><br></p>
    {{form.hidden_tag()}}
    <label class="error_label">{{error_message}}</label>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <label class="info_label">{{message}}</label>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="form-group">
        <span class="text-white corporate_font">{{form.module.label}}</span>
        <select name="module" class="add_select" required>
            {% for module in modules %}
                <option value="{{module.id}}">{{module.title}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <span class="text-white corporate_font">{{form.title.label}}</span>
        {{form.title(class_="login_input")}}
    </div>
    <br><br>
    <p><input class="regular_button" type="submit" value="Add"></p>
</form>
</body>
</html>