<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add word</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
<form class="adding_form" method="post" enctype="multipart/form-data" action="">
    <p><a href="/" class="regular_button">To Home page</a><br><br><br><br><br></p>
    {{form.hidden_tag()}}
    <label class="error_label">{{error_message}}</label>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <label class="info_label">{{message}}</label>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="form-group">
        <span class="text-white corporate_font">{{form.section.label}}</span>
        <select name="section" class="add_select" required>
            {% for section in sections %}
                {% if section.id == current_section %}
                    <option value="{{section.id}}" selected>{{section.title}}</option>
                {% else %}
                    <option value="{{section.id}}">{{section.title}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="form-group">
        <span class="text-white corporate_font">{{form.en_word.label}}</span>
        {{form.en_word(class_="login_input")}}
    </div>
    <div class="form-group">
        <span class="text-white corporate_font">{{form.ru_word.label}}</span>
        {{form.ru_word(class_="login_input")}}
    </div>
    <div class="form-group">
        <span class="text-white corporate_font">{{form.part_of_speech.label}}</span>
        <select name="part_of_speech" class="add_select" required>
            <option value="Noun">Noun</option>
            <option value="Verb">Verb</option>
            <option value="Adjective">Adjective</option>
            <option value="Pronoun">Pronoun</option>
            <option value="Adverb">Adverb</option>
        </select>
    </div>
    <div class="form-group">
        <span class="text-white corporate_font">{{form.definition.label}}</span><br>
        <textarea required maxlength="256" name="definition" class="add_textarea"></textarea>
    </div>
    <br><br>
    <p><input class="regular_button" type="submit" value="Add"></p>
</form>
</body>
</html>