<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    <div class="button-wrapper">
        <a href="/add_module" class="regular_button">Add module</a>
    </div>
    <div class="button-wrapper">
        <a href="/add_section" class="regular_button">Add section</a>
    </div>
    <div class="button-wrapper">
        <a href="/add_word" class="regular_button">Add word</a>
    </div>
</body>
</html>