<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    <form class="login-block" method="post" enctype="multipart/form-data" action="">
        <h1 class="white_text">Log in</h1>
        {{form.hidden_tag()}}
        <label class="error_label">{{error_message}}</label>
        {{form.username(placeholder="Username", class_="login_input")}}
        {{form.password(placeholder="Password", class_="login_input")}}
        <br><br>
        <p><input class="login_button" type="submit" value="Log in"></p>
    </form>
</body>
</html>